#game div {
    border: 1px solid black;
    width: 15%;
    height: 200px;
    margin: 10px;
    display: inline-block;
  }

  button {
      background-color: black;
      color: white;
      border: 1px solid black;
      font-size: 20px;
      margin: 0 auto;
      display: block;
  }

  h1 {
      text-align: center;
      color: white;
      padding-bottom: 20px;
  }

  div {
      margin: auto;
      width: 60%;
      border: 3px solid black;
      padding: 10px;
  }

  body {
      background: linear-gradient(45deg, red, blue);
      height: 100vh;
  }